*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.idea/tasks.xml
.idea/gradle.xml
.idea/markdown-navigator/
.idea/markdown-navigator.xml
.idea/misc.xml
.DS_Store
/build
/captures
.externalNativeBuild
